:root {
  --bg: #545454;
  --primary: #ffffff;
}

* {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--primary);
}

html {
  scroll-behavior: smooth;
}

/* Navbar Section */
.nav-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(241, 241, 188, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 5rem;
  font-size: 1.2rem;
}

.nav-1 .navbar-nav {
  display: flex;
  gap: 4rem;
}

.nav-1 .navbar-nav a {
  color: var(--primary);
  transition: 0.6s;
}

.nav-1 .navbar-nav a:hover {
  font-size: 1.4rem;
  color: rgb(241, 241, 188);
}

/* Hero Section */
.hero {
  height: 100vh;
  padding: 5rem;
}

.hero .hero_cols {
  padding-top: 7rem;
  display: flex;
}

.hero .hero_cols .sumary {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 0.4rem;
}

.hero .hero_cols .sumary h1 {
  font-size: 4rem;
  letter-spacing: 0.2rem;
}

.hero .hero_cols .sumary p1 {
  font-size: 1.5rem;
  color: rgb(241, 241, 188);
}

.hero .hero_cols .sumary p {
  font-size: 1.5rem;
}

.hero .hero_cols .sumary p2 {
  font-size: 0.8rem;
  font-style: italic;
}

.hero .hero_cols .sumary .contact-1 button {
  width: 10rem;
  height: 3rem;
  background-color: rgba(241, 241, 188, 0.18);
  border-radius: 1rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  transition: 1s;
  border: 1px solid #ffffff;
  color: white;
}

.hero .hero_cols .sumary .contact-1 button:hover {
  background-color: rgb(241, 241, 188);
  border: 1px solid black;
  color: black;
}

.hero .hero_cols .sumary .medsos {
  display: flex;
  text-decoration: none;
  margin-top: 4rem;
  gap: 2rem;
}

.hero .hero_cols .sumary .medsos a {
  color: rgb(241, 241, 188);
}

.hero .hero_cols .picture {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero .hero_cols .picture img {
  width: 75%;
}

/* About Section */
.about {
  height: 100vh;
  background-color: rgb(19, 19, 19);
}

.about .container_about {
  display: flex;
  padding-top: 8rem;
  height: 100%;
  padding-left: 2rem;
  width: 100%;
}

.about .container_about .slide_left {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 3rem;
  padding-right: 1rem;
}

.about .container_about .slide_left h1 {
  font-size: 3rem;
  color: rgb(241, 241, 188);
}

.about .container_about .slide_left .education a{
  color: #ffffff;
}

.about .container_about .slide_left .education p {
  padding-top: 0.5rem;
}

.about .container_about .slide_left .education .gpa {
  display: flex;
  justify-content: space-between;
}

.about .container_about .slide_left .education .gpa1 {
  display: flex;
  justify-content: space-between;
  color: rgb(241, 241, 188);
}

.about .container_about .slide_right {
  display: flex;
  width: 40%;
  flex-direction: column;
  gap: 3rem;
}

.about .container_about .slide_right h1 {
  font-size: 3rem;
  color: rgb(241, 241, 188);
}

.about .container_about .slide_right .skils {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about .container_about .slide_right .skils .gpa {
  display: flex;
  justify-content: space-between;
}

/* Experience Section */
.experience {
  display: flex;
  align-items: center;
  padding-left: 5rem;
  height: 100vh;
}

.experience .container-1 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

.experience .container-1 h3 {
  color: rgb(241, 241, 188);
}

.experience .container-2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.experience .container-2 img {
  width: 30rem;
  height: 30rem;
}

/* Projects Section */
.projects {
  display: flex;
  padding-top: 7rem;
  justify-content: space-around;
  background-color: rgb(19, 19, 19);
}

.projects .row-projects {
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  flex-wrap: wrap;
  gap: 3rem;
}

.projects .row-projects .project a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
  color: white;
}

.projects .row-projects .project img {
  width: 24rem;
  border-radius: 0.5rem;
}

.projects .row-projects .project h4 {
  font-size: 1.4rem;
  color: rgb(241, 241, 188);
  text-align: center;
}

.spacing {
  background-color: rgb(19, 19, 19);
  height: 4rem;
}

/* Contact Section */
.contact {
  display: flex;
  padding-top: 10rem;
  height: 100vh;
}

.contact form {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.contact .container-form{
  display: flex;
  align-items: start;
  flex-direction: column;
}

.contact .container-form-1{
  display: flex;
  align-items: start;
  flex-direction: column;
}

.contact .container-form input {
  width: 40rem;
  height: 3rem;
  border-radius: 1rem;
  padding: 2rem;
}

.contact .container-form-1 input {
  width: 40rem;
  height: 10rem;
  border-radius: 1rem;
  padding: 2rem;
  vertical-align: top;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet & Phone*/
@media (max-width: 758px) {
  html {
    font-size: 65%;
  }

  .hero {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  /* Hero Section */
  .hero .hero_cols {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero .hero_cols .sumary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    gap: 0.4rem;
  }

  .hero .hero_cols .sumary h1 {
    font-size: 4rem;
    letter-spacing: 0.2rem;
  }

  .hero .hero_cols .sumary p1 {
    font-size: 2rem;
    color: rgb(241, 241, 188);
  }

  .hero .hero_cols .sumary p {
    font-size: 1.5rem;
  }

  .hero .hero_cols .sumary p2 {
    font-size: 1rem;
    font-style: italic;
  }

  .hero .hero_cols .sumary .contact-1 button {
    width: 10rem;
    height: 4rem;
    background-color: rgba(241, 241, 188, 0.18);
    border-radius: 1rem;
    font-size: 1.8rem;
    margin-top: 1rem;
    transition: 1s;
    border: 1px solid #ffffff;
    color: white;
  }

  .hero .hero_cols .sumary .contact-1 button:hover {
    background-color: rgb(241, 241, 188);
    border: 1px solid black;
    color: black;
  }

  .hero .hero_cols .sumary .medsos {
    display: flex;
    text-decoration: none;
    margin-top: 4rem;
    gap: 2rem;
  }

  .hero .hero_cols .sumary .medsos a {
    color: rgb(241, 241, 188);
  }

  .hero .hero_cols .picture {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .hero .hero_cols .picture img {
    width: 80%;
  }

  /* About Section */
  .about {
    display: flex;
    background-color: rgb(19, 19, 19);
  }

  .about .container_about {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 4rem;
    height: 100%;
    padding-left: 2rem;
    width: 100%;
  }

  .about .container_about .slide_left {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1.2rem;
  }

  .about .container_about .slide_left h1 {
    font-size: 3rem;
    color: rgb(241, 241, 188);
  }

  .about .container_about .slide_left .education p {
    padding-top: 0.5rem;
  }

  .about .container_about .slide_left .education .gpa {
    display: flex;
    justify-content: space-between;
  }

  .about .container_about .slide_left .education .gpa1 {
    display: flex;
    justify-content: space-between;
    color: rgb(241, 241, 188);
  }

  .about .container_about .slide_right {
    display: flex;
    width: 40%;
    flex-direction: column;
    gap: 1.2rem;
  }

  .about .container_about .slide_right h1 {
    font-size: 3rem;
    color: rgb(241, 241, 188);
  }

  .about .container_about .slide_right .skils {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .about .container_about .slide_right .skils .gpa {
    display: flex;
    justify-content: space-between;
  }

  /* Experience Section */
  .experience {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-right: 5rem;
    height: 100vh;
    gap: 4rem;
    padding-bottom: 2rem;
  }

  .experience .container-1 {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
  }

  .experience .container-1 h3 {
    color: rgb(241, 241, 188);
  }

  .experience .container-2 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .experience .container-2 img {
    width: 30rem;
    height: 30rem;
  }
}
